ZMK_BASE_LAYER(Fn,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX         , &kp RET       &kp SPACE     &kp TAB       NAV_BSPC      ___         ,   &kp C_PREV    &kp F7        &kp F8        &kp F9        &kp F10     , XXX         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX         , &sk LGUI      &sk LALT      &sk LCTRL     &sk LSHFT     ___         ,   &kp C_PP      &kp F4        &kp F5        &kp F6        &kp F11     , XXX         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX         , ___           ___           ___           ___           ___         ,   &kp C_NEXT    &kp F1        &kp F2        &kp F3        &kp F12     , XXX         ,
//╰─────────────┴─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────┴─────────────╯
                                XXX           XXX         ,                                                           XXX           XXX         ,
//                            ╰─────────────┴─────────────╯                                                         ╰─────────────┴─────────────╯
                                              &lt NUM ESC   ___           ___         ,   ___          ___            ___         ,
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
                                              XXX           XXX           XXX         ,   XXX           XXX           XXX     
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)
