ZMK_BASE_LAYER(Mouse,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX         , ___           ___           ___           ___           ___         ,   U_WH_L        U_WH_R        ___            &kp PG_UP    &kp PG_DN   , XXX         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX         , ___           ___           ___           ___           ___         ,   ___           U_MS_L        U_MS_D         U_MS_U       U_MS_R      , XXX         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX         , ___           ___           ___           ___           ___         ,   PAGE_PREV     &mkp LCLK     &mkp MCLK      &mkp RCLK    PAGE_NEXT   , XXX         ,
//╰─────────────┼─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────┴─────────────╯
                                XXX           XXX         ,                                                           XXX           XXX         ,
//                            ╰─────────────┴─────────────╯                                                         ╰─────────────┴─────────────╯
                                              ___           ___           ___         ,   U_WH_U        U_WH_D        ___         ,
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
                                              XXX           XXX           XXX         ,   XXX           XXX           XXX         
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)
