ZMK_BASE_LAYER(Nav,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX         , &kp RET       &kp SPACE     &kp TAB       NAV_BSPC      _CUT        ,   _CUT          NAV_BSPC      _UNDO         _REDO         NAV_DEL     , XXX         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX         , &sk LGUI      &sk LALT      &sk LCTRL     &sk LSHFT     _COPY       ,   _COPY         NAV_LEFT      NAV_DOWN      NAV_UP        NAV_RIGHT   , XXX         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX         , FIND          &select_line  &select_word  &select_all   _PASTE      ,   _PASTE        &kp LS(TAB)   &kp PG_DN     &kp PG_UP     &kp TAB     , XXX         ,
//╰─────────────┼─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────┴─────────────╯
                                _UNDO         _REDO       ,                                                           TAB_PREV      TAB_NEXT    ,
//                            ╰─────────────┴─────────────╯                                                         ╰─────────────┴─────────────╯
                                              ___           ___           ___         ,   &select_word  &select_line  &select_all ,
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
                                              XXX           XXX           XXX         ,   &extend_word  &extend_line  &select_none      
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)
