ZMK_BASE_LAYER(Sym,
//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
    XXX            , &kp TILDE        &kp HASH         &kp STAR         &kp AMPS         &kp GRAVE      ,   &kp PRCNT        &kp LBKT         &kp RBKT         &kp LBRC         &kp RBRC       , XXX            ,
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    XXX            ,&hml LGUI CARET  &hml LALT UNDER  &hml LCTRL COLON &hml LSHFT EQUAL  &kp DLLR       ,   &kp AT           &hmr RSHFT LPAR  &hmr RCTRL RPAR  &hmr LALT SEMI   &hmr LGUI DQT  , XXX            ,
//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    XXX            , &kp QMARK        &kp EXCL         &kp PIPE         &kp PLUS         &kp FSLH       ,   &kp BSLH         &kp LT           &kp GT           &kp MINUS        &kp SQT        , XXX            ,
//╰────────────────┼────────────────┴────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┴────────────────┴────────────────╯
                                      XXX              XXX            ,                                                                       XXX              XXX            ,
//                                  ╰────────────────┴────────────────╯                                                                     ╰────────────────┴────────────────╯
                                                       ___              NAV_BSPC         &kp SPACE      ,   ___              &trans           ___            ,
//                                                   ╰────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────╯
                                                       XXX              XXX              XXX            ,   XXX              XXX              XXX           
//                                                   ╰────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────╯
)
