ZMK_BASE_LAYER(Sys,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX         ,                            _BT_SEL_KEYS_                            ,                              _BT_SEL_KEYS_                            , XXX         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX         , ___           ___           ___           ___           &bootloader ,   &bootloader   ___           ___           ___           ___         , XXX         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX         , ___           ___           ___           ___           &sys_reset  ,   &sys_reset    ___           ___           ___           ___         , XXX         ,
//╰─────────────┼─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────┴─────────────╯
                                XXX           XXX         ,                                                           XXX           XXX         ,
//                            ╰─────────────┴─────────────╯                                                         ╰─────────────┴─────────────╯
                                              ___           ___           ___         ,   ___           ___           ___         ,
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
                                              XXX           XXX           XXX         ,   XXX           XXX           XXX
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)
