#define CONFIG_WIRELESS
#define ZMK_BASE_LAYER(name, LT0, LT, RT, RT0, LM0, LM, RM, RM0, LB0, LB, RB, RB0, LBB, RBB, LH, RH, LH1, RH1)                   \
    ZMK_LAYER(                                                                 \
        name,                                                                  \
                 LT RT                                                         \
                 LM RM                                                         \
                 LB RB                                                         \
                 LH RH                                                         \
    )

#include "zmk-helpers/key-labels/36.h"
#include "base.keymap"

/{ chosen { zmk,physical-layout = &foostan_corne_5col_layout; }; };

